/*
    PART 1 (A) - CSS Basic
    Topic: 03 Next sibling combinator (+)
    Objective: Practice exercises for 03 Next sibling combinator (+)
*/
body {
    /* Page ka background black */
    background-color: black;
}

* {
    /* Default text color white */
    color: white;
}

/* div ke foran baad aane wale h1 ko target karta hai */
div + h1 {
    text-align:center;
    border:2px solid white;
    padding:10px;
}

/* h1 ke foran baad aane wale paragraph ko target karta hai */
h1 + p{

    color:yellow;
    text-align:center;
    text-decoration: underline;

}

/* div ke foran baad aane wali .main-heading ko target karta hai */
div + .main-heading {
    text-align:center;
    border:2px solid white;
    padding:10px;
}

/* div ke andar lists ke items ko style karta hai */
div ul li, div ol li {
    text-align:center;
    border:1px solid white;
    padding:10px;
    border-collapse: collapse;
    color:skyblue;
}

/* br ke foran baad aane wale button ko target karta hai */
br + button {

    background-color:black;
    color:white;
    border:2px solid white;
}
/*
    Summary:
    This is a practice file for 03 Next sibling combinator (+).
*/
