/*
    PART 1 (A) - CSS Basic
    Topic: 03 Next sibling combinator (+)
    Objective: Practice exercises for 03 Next sibling combinator (+)
*/
header + p {
    text-align:center;
    border:2px solid white;
    padding:10px;
    color:red;
}

header h1 {

    background-color: black;
    color:white;
    padding:5px;
}

main div ul {

    color:blueviolet;
    background-color:lightgray;
}

#first-br + .first-para {
    color:darkred;
    background-color:lightyellow;
    padding:10px;
    border:2px solid black;
}

main #second-div .second-para {
    color:darkblue;
    background-color:lightgreen;
    padding:10px;
    border:2px solid black;
}

/*
    Summary:
    This is a practice file for 03 Next sibling combinator (+).
*/

