body {
    font-family: Arial, sans-serif;
    background-color: black;
}

h1, p {
  color: white;
}
.input-field:focus {
  background-color:black;
  color:white;
  border: 5px solid white;
}

button:focus {
   background-color:black;
  color:white;
  border: 2px solid white;
}
