.box-1 {
    color:white;
    background-color:red;
    padding:5px;

}

.box-2{
    color:white;
    background-color:blue;
    padding:5px;
}

.box-3 {
         color:black;
         background-color:gold;
          padding:5px;
}